html {
    height: 100%;
}

body {
    min-height: 100%;
    padding-top: 5rem;
    margin: 0;
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.accordionlink {
    cursor: pointer;
}